// font-family: 'Abel', sans-serif;
// font-family: 'Geo', sans-serif;
// font-family: 'Orbitron', sans-serif;
$bg-1: #0C3654;
$bg-2: #3E505B;
$bg-3: #1A1D1A;
$bg-4: #03120E;
$txt-1: #8AB0AB;
$txt-2: #F9F8F7;

//elements
h1{
    color: $txt-1;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}
h2{
    color: #5c716e;
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
}
p{
    color: $txt-2;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}
i{
    font-size: 50px;
    color: $txt-2;
}
i:hover{
    cursor: pointer;
    color: scale-color($color: $bg-2, $lightness: 50%, $alpha: 1.0)
}
//classes

.image:before{
    content:'';
    width: 200px;
    height: 200px;
    border: 2px solid $txt-1;
    transform: translate(-10px, 10px);
}
.container-fluid{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.container{
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.contact-button{
    color: $txt-1;
    border: 2px solid $txt-1;
    text-decoration: none;
    padding: 10px;
    font-family: 'Geo', sans-serif;
    font-size: 25px;
}
.contact-button:hover{
    text-decoration: none;
    color: $txt-1;
    background-color: scale-color($bg-1, $lightness: 10%);
}
//ids
#section-1{
    background-color: $bg-1;
}
#section-2{
    background-color: $bg-2;
}

//media query

